<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/luis.castellanos/automation/training/RestAssuredAPITesting">
        <classes>
            <class name="APItestsuite.Tc001GetRequest"/>
            <class name="APItestsuite.Tc002PostRequest"/>
        </classes>
    </test>
</suite>